body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2392fbd5;
    border-radius: 8px;
    padding: 20px;
    
}

input, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    width: 200px;
}

h1, p, output {
    margin: 10px 10px;
    padding: 15px 15px;
    /* border: 1.1px solid rgb(203, 187, 187); */
    border-radius: 8px;

}

button{
    background-color: rgb(77, 77, 224);
    color: antiquewhite;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    width: 150px;
    border-radius: 8px;
}